<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
       <!-- own css navbar file -->
       <link rel="stylesheet" href="navbar.css">
       <!-- own colour css file -->
       <link rel="stylesheet" href="colour.css">
       <!-- fontawesome css file -->
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
       <!-- google font poppin's link -->
       <link
           href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,800;0,900;1,500;1,600;1,700;1,800&display=swap"
           rel="stylesheet">
       <!-- favicon link -->
       <link rel="icon" type="image/x-icon" href="images/favicon.png">
</head>
<body>
     <!-- header starts here -->
     <header>
        <div class="icons">
            <a href="https://facebook.com"><i class="fa-brands fa-facebook-f icon"></i></a>
            <a href="https://twitter.com"><i class="fa-brands fa-twitter icon"></i></a>
            <a href="https://instagram.com"><i class="fa-brands fa-instagram icon"></i></a>
            <a href="https://linkedin.com"><i class="fa-brands fa-linkedin-in icon"></i></a>
        </div>
        <div class="user">
            <a href="/index">login |</a><a href="/register"> register </a>
        </div>
    </header>

    <!-- navbar starts here -->
    <div class="navbar">
        <div class="logo">
            <span>Bookly.</span>
        </div>
        <nav>
            <a href="home.html">Home</a>
            <a href="about.html">About</a>
            <a href="shop.html">Shop</a>
            <a href="contact.html">Contact</a>
            <a href="order.html">Order</a>
        </nav>
        <div class="icons">
            <div class="menu-bar">
                <i class="fa-solid fa-bars"></i>
            </div>
           <a href="search.html"><i class="fa-solid fa-magnifying-glass icon"></i></a>
            <i class="fa-solid fa-user icon"></i>
            <span>
                <a href="cart.html"><i class="fa-solid fa-cart-shopping icon icon-3"></i></a>
                <span>(<span class="cart">0</span>)</span>
            </span>
        </div>
    </div>

      <!-- footer starts here -->
      <footer>
        <div class="container">
            <div class="col col-1">
                <h4 class="heading">QUICK LINKS</h4>
                <span>
                    <a href="home.html">home</a>
                </span>
                <span>
                    <a href="about.html">about</a>
                </span>
                <span>
                    <a href="shop.html">shop</a>
                </span>
                <span>
                    <a href="contact.html">contact</a>
                </span>
            </div>
            <div class="col col-2">
                <h4 class="heading">EXTRA LINKS</h4>
                <span>
                    <a href="login.html">Login</a>
                </span>
                <span>
                    <a href="register.html">register</a>
                </span>
                <span>
                    <a href="cart.html">cart</a>
                </span>
                <span>
                    <a href="order.html">orders</a>
                </span>
            </div>
            <div class="col col-3">
                <h4 class="heading">CONTACT INFO</h4>
                <span class="icon-container">
                    <i class="fa-solid fa-phone icon"></i>
                    <a href="tel:+919892564710">+91-9892564710</a>
                </span>
                <span class="icon-container">
                    <i class="fa-solid fa-phone icon"></i>
                    <a href="tel:+919892564710">+91-9892564710</a>
                </span>
                <span class="icon-container">
                    <i class="fa-solid fa-envelope icon"></i>
                    <a href="mailto:ansariammar3271@gmail.com">ansariammar3271@gmail.com</a>
                </span>
                <span class="icon-container">
                    <i class="fa-solid fa-location-dot icon"></i>
                    <a href="https://goo.gl/maps/aNLNfhFCA9oFSVEE6" target="_blank"> mumbai, india - 400072 </a>
                </span>
            </div>
            <div class="col col-4">
                <h4 class="heading">FOLLOW US</h4>
                <span class="icon-container">
                    <i class="fa-brands fa-facebook-f icon"></i>
                    <a href="https://facebook.com">facebook</a>
                </span>
                <span class="icon-container">
                    <i class="fa-brands fa-twitter icon"></i>
                    <a href="https://twitter.com">twitter</a>
                </span>
                <span class="icon-container">
                    <i class="fa-brands fa-instagram icon"></i>
                    <a href="https://instagram.com">instagram</a>
                </span>
                <span class="icon-container">
                    <i class="fa-brands fa-linkedin-in icon"></i>
                    <a href="https://linkedin.com">linked in</a>
                </span>
            </div>
        </div>
    </footer>
    
    <!-- copyright starts here -->
    <div class="copyright">
        <span>
            &copy; copyright @ 2022 by <span class="developer">Ammar.web designer</span>
        </span>
    </div>
    
    <!-- own js file link  -->
    <script src="script.js"></script>
</body>
</html>