<footer>
  <div class="container">
    <div class="col col-1">
      <h4 class="heading">QUICK LINKS</h4>
      <span>
        <a href="/">home</a>
      </span>
      <span>
        <a href="about">about</a>
      </span>
      <span>
        <a href="/shop">shop</a>
      </span>
      <span>
        <a href="/contact">contact</a>
      </span>
    </div>
    <div class="col col-2">
      <h4 class="heading">EXTRA LINKS</h4>
      <span>
        <a href="/login">Login</a>
      </span>
      <span>
        <a href="/register">register</a>
      </span>
      <span>
        <a href="/cart">cart</a>
      </span>
      <span>
        <a href="/order">orders</a>
      </span>
    </div>
    <div class="col col-3">
      <h4 class="heading">CONTACT INFO</h4>
      <span class="icon-container">
        <i class="fa-brands fa-whatsapp" style="font-size: 20px;color:rgb(5, 5, 95);"></i>
        <a href="tel:+8957417685">+91-9867345138</a>
      </span>
      <span class="icon-container">
        <i class="fa-solid fa-phone icon"></i>
        <a href="tel:+9161247327">+91-9326166875</a>
      </span>
      <span class="icon-container">
        <i class="fa-solid fa-envelope icon"></i>
        <a href="mailto:abdulrab2411@gmail.com">abdulrab2411@gmail.com</a>
      </span>
      <span class="icon-container">
        <i class="fa-solid fa-location-dot icon"></i>
        <a href="https://maps.app.goo.gl/TcXFVTJLMCZr3C818" target="_blank">
          Shop No 10. D D'Souza Sadan Lokmanya Tilak Nagar, Saki Naka , Mumbai,Maharashtra 400072 India
        </a>
      </span>
    </div>
    <div class="col col-4">
      <h4 class="heading">FOLLOW US</h4>
      <span class="icon-container">
        <i class="fa-brands fa-facebook-f icon"></i>
        <a href="https://www.facebook.com/profile.php?id=100059886098311">facebook</a>
      </span>
      <span class="icon-container">
        <i class="fa-brands fa-twitter icon"></i>
        <a href="https://twitter.com">twitter</a>
      </span>
      <span class="icon-container">
        <i class="fa-brands fa-instagram icon"></i>
        <a href="https://www.instagram.com/__osm03____?igsh=eW1oOW12a3N2ODRx"
          >instagram</a
        >
      </span>
      <span class="icon-container">
        <i class="fa-brands fa-linkedin-in icon"></i>
        <a
          href="https://www.linkedin.com/in/osama-gani-074435269?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
          >linked in</a
        >
      </span>
    </div>
  </div>
</footer>
<div class="copyright">
  <span>
    &copy; copyright @ 2024 by
    <span class="developer">Talle Furniture Mart</span>
  </span>
</div>
